[Unit]
Description=digital frame backend service
After=xserver.service

[Service]
ExecStartPre=/bin/sleep 1
Type=simple
ExecStart=/opt/frame/backend.py
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=backend.service
