[Unit]
Description=digital frame
After=backend.service

[Service]
Type=simple
EnvironmentFile=/opt/frame/control/frameenv
ExecStart=/opt/frame/frame.py 
PidFile=/opt/frame/run/frame.pid
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=frame.service
