[Unit]
Description=digital frame
After=backend.service

[Service]
ExecStartPre=/bin/sleep 1
Type=simple
ExecStart=/opt/frame/frame.py 
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
