[Unit]
Description=welcome msg
After=xserver

[Service]
Type=simple
ExecStart=/opt/frame/scripts/load_msg.sh
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=sshd.service
