[Unit]
Description=digital frame
After=xserver.service

[Service]
Type=simple
ExecStart=/opt/frame/show.py 
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=frame.service
