[Unit]
Description=display imagesy

[Service]
Type=simple
ExecStart=/opt/frame/show.py
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
