[Unit]
Description=display imagesy

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/opt/frame/show.py
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=frame.service

