[Unit]
Description=naked X server
After=ssh.server

[Service]
Type=simple
ExecStart=/usr/bin/X -nocursor :0
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=sshd.service
